<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Appium Demo Test Suite" guice-stage="DEVELOPMENT" parallel="classes">

    <listeners>
        <listener class-name="test.java.utilities.Reporting"/>
    </listeners>

    <test thread-count="1" name="Appium Demo Test" verbose="2">
        <classes>
            <class name="test.java.tests.test01_verifyTitle" />
            <class name="test.java.tests.test02_verifyClickingNoButton" />
            <class name="test.java.tests.test03_verifyNameAndCarWebView" />
        </classes>
    </test>
</suite>